# virtual environment
proj_env/
env/
.env/

# logs
logs/
runs/
tensorboard/

# models / checkpoints
models/
*.zip
*.pth
*.pt

# python cache
__pycache__/
*.pyc

# OS files
.DS_Store

#others
envs/turtlebot_Env.py
envs/robot_launch2.py
envs/arm_control2.py
